/* STYLE GÉNÉRAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #f9f9f9;
}

html{
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* NAVBAR */
header {
  background: #111;
  color: #fff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

.logo span {
  color: #00bcd4;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #00bcd4, #0097a7);
  color: white;
  text-align: center;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.btn {
  margin-top: 1.5rem;
  background: #fff;
  color: #0097a7;
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background: #00bcd4;
  color: #fff;
  transform: translateY(-3px);
}

/* À PROPOS */
.about {
  padding: 4rem 2rem;
  background: #fff;
}

.about p {
  max-width: 700px;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.6;
}

/* PROJETS */
.projects {
  background: #f4f4f4;
  padding: 4rem 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  padding: 1rem;
  color: #0097a7;
}

.project-card p {
  padding: 0 1rem 1rem;
  color: #555;
}

/* CONTACT */
.contact {
  padding: 4rem 2rem;
  text-align: center;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form  p{
padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
}

button {
  background: #0097a7;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

button:hover {
  background: #00bcd4;
}

/* FOOTER */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 3rem;
  font-size: 0.9rem;
}
